<?php
include '../controller/usuarios.php';

?>


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="form-container-tabela">
        <h2>Lista de Usuários</h2>
        <form action="usuarios.php" method="post">
            <table>
                <thead>
                    <tr>
                        <th></th> <!-- Checkbox para exclusão -->
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Data de criação</th>
                    </tr>
                </thead>
                <tbody>
                    <?php exibirUsuarios($Usuarios); ?>
                </tbody>
            </table>
            <button class="button-tabela" type="submit">Salvar</button>
            <button class="button-tabela" type="button" onclick="mensagem()">Excluir</button>
            <button class="button-tabela" type="button" onclick="logout()">Logout</button>
        </form>
    </div>

    <script>
        function mensagem() {
            alert('Olá');
        }

        function logout() {
            window.location.href = 'logout.php';
        }
    </script>
</body>
</html>